---
interface Props {
  /** Pre-built Snipcart data-item-* attributes from buildItemAttributes(). */
  attrs: Record<string, string>;
}

const { attrs } = Astro.props;
---
<button class="snipcart-add-item" {...attrs}>
  <slot>Add to Cart</slot>
</button>
